domains for cookies/http-state tests are mismatched

Currently, we're using `home.example.org` or some other similar domains for testing the `cookies/http-state/domain-tests.html`.

For example, for the `domain0001`, it has same domain from `Set-Cookie` and `Location`

https://github.com/web-platform-tests/wpt/blob/df7fc2ece226676b8398ece13ddfd31b4f1eca5c/cookies/http-state/resources/test-files/domain0001-test#L1-L2

But, it's run under `localhost:8888` or `wpt.live`; per [RFC6265 Section 5.3](https://tools.ietf.org/html/rfc6265#section-5.3), 

> If the canonicalized request-host does not domain-match the domain-attribute:
>              Ignore the cookie entirely and abort these steps.

which means the cookie should be ignored.

and with checking results on [wpt.fyi](https://wpt.fyi/results/cookies/http-state/domain-tests.html?label=experimental&label=master&aligned), looks like all browsers agree on this.

<img width="1232" alt="image" src="https://user-images.githubusercontent.com/6782666/81415260-2a9e9280-9183-11ea-9957-e3d83983aace.png">

So, I wonder, instead of hard-coding `*.example.org` in the `*-test` and `*-expected` files, maybe we should dynamically add the domain cookie and location header from the `cookie-setter.py` python server or somewhere.
